* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    text-decoration: none;
    text-shadow: none;
}

h1, h2 {
    line-height: 1em;
}

a:hover {
    text-decoration: none;
}

h1 {
    font-size: 5em;
    text-align: center;
    line-height: 1em;
}

h2 {
    font-size: 2em;
    margin: 10px 0px;
}

.section {
    padding: 20px;
}

.button-start, .button-stop {
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    display: block;
    margin: 0px auto;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

.button-start {
    color: #005500;
    background: #00cc00;
}

.button-start:hover {
    color: #005500;
    background: #00bb00;
}

.button-stop {
    color: #550000;
    background: #cc0000;
}

.button-stop:hover {
    color: #550000;
    background: #bb0000;
}

.sp-list {
    max-height: 300px;
}
